# Database Configuration
DB_USER=postgres
DB_PASSWORD=postgres

# Frontend Configuration
FRONTEND_URL=http://localhost:4200

MAIL_USERNAME=tucuenta@gmail.com
MAIL_PASSWORD=abcd efgh ijkl mnop

# Credenciales tecnicas para tokens entre microservicios
APP_SERVICE_AUTH_CLIENTS=gateway=change-me0,ms-restaurante=change-me1,ms-ia=change-me3

# Documents Configuration
BASE_STORAGE_PATH=C:/proyecto/storage
APP_UPLOAD_DIR=${BASE_STORAGE_PATH}/uploads
