PORT=4000
MS4_JWT_PUBLIC_KEY_PATH=./certs/public.pem
MS1_GRAPHQL_URL=http://localhost:8082/api/graphql
MS4_REST_URL=http://localhost:8081/api
MS2_GRAPHQL_URL=http://localhost:3001/graphql
MS3_GRAPHQL_URL=http://localhost:3002/graphql
SCHEMA_POLL_INTERVAL_MS=30000
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
DYNAMODB_AUDIT_TABLE=polloscarmesi-audit
CORS_ORIGINS=http://localhost:4200,http://localhost:3000