# Database Configuration
DB_USER=postgres
DB_PASSWORD=postgres

# Frontend Configuration
FRONTEND_URL=http://localhost:4200

MAIL_USERNAME=tucuenta@gmail.com
MAIL_PASSWORD=abcd efgh ijkl mnop

# Storage Configuration
# Opciones: s3 | local
APP_STORAGE_TYPE=s3

# AWS S3 / LocalStack Configuration
AWS_S3_ACCESS_KEY=test
AWS_S3_SECRET_KEY=test
AWS_S3_REGION=us-east-1
AWS_S3_BUCKET=pollos-carmesi-storage
AWS_S3_ENDPOINT=http://localhost:4566

#Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Token tecnico para comunicacion entre microservicios
AUTH_BASE_URL=http://localhost:8081/api
INTERNAL_AUTH_CLIENT_ID=ms-restaurante
INTERNAL_AUTH_CLIENT_SECRET=change-me
INTERNAL_AUTH_CACHE_SKEW_SECONDS=60

# Legacy Local Storage (solo si APP_STORAGE_TYPE=local)
BASE_STORAGE_PATH=C:/proyecto/storage
APP_UPLOAD_DIR=${BASE_STORAGE_PATH}/uploads
