// Style for form
.p-button-outlined {
  padding: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-btn {
  border: 1px solid var(--p-content-border-color);
  background-color: transparent;
  color: var(--p-text-color);
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: var(--p-content-hover-background);
    border-color: var(--p-form-field-hover-border-color);
  }

  &.active {
    background-color: var(--p-primary-color);
    border-color: var(--p-primary-color);
    color: var(--p-primary-contrast-color);
  }
}

