# Python
__pycache__
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Tests
.pytest_cache/
.coverage
htmlcov/
*.cover

# OS
.DS_Store
Thumbs.db

# Git
.git/
.gitignore
.gitattributes

# Otros
*.log
*.db
*.sqlite
